<?xml version="1.0"?>
<PluginV1XML xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FRIENDLY_NAME>Inverted Pendulum</FRIENDLY_NAME>
  <DLL_FILENAME>Inverted Pendulum Mega.dll</DLL_FILENAME>
  <AUTHOR_NAME>DJ Sures</AUTHOR_NAME>
  <LICENSE_URL>http://www.ez-robot.com/tutorials/plugin-license.aspx</LICENSE_URL>
  <PLUGIN_GUID>462e9d36-08b3-40ec-8b66-4123c4b144d7</PLUGIN_GUID>
  <CATEGORY_TYPE>Movement Panels</CATEGORY_TYPE>
  <DESCRIPTION>This is the movement panel for the inverted pendulum firmware running on an Arduino Mega with SainSmart shield and mpu6050</DESCRIPTION>
  <VersionRelease>9</VersionRelease>
</PluginV1XML>